:root {
    --global-background: linear-gradient(217deg, rgba(255, 0, 0, .8), rgba(255, 0, 0, 0) 70.71%),
    linear-gradient(127deg, rgba(0, 255, 0, .8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, .8), rgba(0, 0, 255, 0) 70.71%);
}

body {
    margin: 0;
}

svg {
    width: 16px;
    height: 16px;
}

ul {
    list-style: none;
    padding: 0;
}

button {
    padding: 10px;
    color: #FFFFFF;
    border-width: 2px;
    background: #08d0d0;

    &:hover {
        cursor: pointer;
    }
}

hr {
    color: #987cb9;
    size: 3px;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;

    &:before {
        content: "";
        z-index: -10;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: var(--global-background);
    }
}

.screen-full {
    width: 100%;
    height: 100vh;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll-x {
    white-space: nowrap; //不换行
    overflow-x: auto; //横向滚动
    overflow-y: hidden; //禁止纵向滚动
}

.border-type1 {
    border: 2px solid #FFF;
    border-radius: 20px;
}

.home-nav {
    @extend .screen-full;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.1rem;
    text-align: center;
    margin-top: 40px;

    ul li {
        width: 240px;
        padding: 18px 40px;
        border: 2px solid #FFF;
        border-radius: 20px;
        margin: 20px;
        transition: all 0.2s;

        &:hover {
            cursor: pointer;
            opacity: 0.6;
            color: aqua;
        }
    }
}

.screen-left-up {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 1.4rem;
    border-radius: 10px;
    border: 2px solid #FFFFFF;
    padding: 10px 20px;
}

.return-to-home {
    position: fixed;
    left: 0;
    top: calc(50% - 44px);
    writing-mode: tb-rl;
    margin-left: 14px;
    border: 2px solid #FFF;
    border-radius: 10px;
    padding: 10px 4px;
    color: #FFFFFF;

    &:hover {
        cursor: pointer;
    }
}


.purpose {
    @extend .screen-full;
    @extend .flex-center;
    align-items: normal;
}

.experiment-content {
    --border-width: 2px;
    width: calc(60% - var(--border-width));
    height: calc(80% - var(--border-width) - var(--border-width));
    border: var(--border-width) solid #FFF;
    border-radius: 10px;
    margin: auto;
    overflow: auto;
    display: grid;
    align-items: center;
    justify-items: center;

    p {
        margin: 20px;
        line-height: 2;
        font-size: 1.1rem;
        height: min-content;
    }
}


.to-right, .to-left {
    position: fixed;
    bottom: 40px;
    border-radius: 10%;

    span {
        margin-right: 8px;
    }

    svg {
        width: 20px;
        height: 20px;
        color: #FFFFFF;
        fill: currentColor;
    }
}

.to-left {
    left: 20px;
}

.to-right {
    right: 20px;
}


.exercises-content {
    width: 70%;
    height: 80%;
    margin: auto;
}

.exercises-content-header {
    @extend .scroll-x;
    margin: 0;
    display: flex;

    button {
        padding: 18px 34px;
        margin: 10px 20px;
    }
}

.exercises-content-main {
    width: 100%;
    height: 380px;
    display: flex;
    margin-top: 34px;
    justify-content: space-around;

    .content-main {
        @extend .border-type1;
        display: inline-block;
        width: calc(46% - 4px);
        height: 100%;
        position: relative;

        > div:first-of-type {
            width: 100%;
            height: 100%;
            overflow-y: auto;
        }

        p {
            margin: 20px;
        }

        button {
            display: block;
            margin: 18px 10px 18px auto;
        }
    }
}

.result {
    @extend .exercises-content;
    width: 60%;
    display: flex;
    flex-direction: column;

    p {
        @extend .border-type1;
        height: 100%;
        padding: 20px;
        overflow-y: auto;
    }

    div {
        display: flex;
        flex-direction: row-reverse;

        span {
            @extend .border-type1;
            padding: 14px 24px;
            text-align: right;
        }
    }
}
